@CHARSET "UTF-8";

body,p,blockquote {
	margin: 20px;
	padding: 0;
}

body {
	padding: 10px;
	font: normal 82.5% "Lucida Grande", Helvetica, Verdana, Arial;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.green {
	color: green;
}

.bg {
	background: pink;
}

.hand {
	cursor: hand;
	text-decoration: underline;
}

.font {
	font: italic;
	font-size: 16px;
}